
<div id="container">
  <!-- <ion-col size="2" class="ion-text-right"> -->
    <ion-button fill="clear" color="dark" (click)="launchChat()">
      <ion-icon slot="icon-only" name="chatbubbles-outline" color="light"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark">
      <ion-icon slot="icon-only" name="cash-outline" color="light"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark">
      <ion-icon slot="icon-only" name="mail-unread-outline" color="light"></ion-icon>
    </ion-button>
  <!-- </ion-col> -->

<!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="share-social"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="openSocial('facebook')">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openSocial('instagram')">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openSocial('twitter')">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openSocial('whatsapp')">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->

</div>