<ion-row class="header ion-align-items-center" color="primary" class="full-hw">
  <ion-col color="primary" size-xs="4" size-md="2" size-xl="1" style="xborder:dotted;">
    <img src="assets/bmo_header_logo.jpg">
  </ion-col>
  <ion-col size-xs="1" size-md="1" size-xl="2" style="border:dotted;">
    <ion-button fill="clear" routerLink="tabs/transfer" routerDirection="root">
      Accounts
    </ion-button>
  </ion-col>
  <ion-col size-xs="1" size-md="1" size-xl="2" style="border:dotted;">
    <ion-button fill="clear" routerLink="tabs/transfer" routerDirection="root">
      Pay & Transfer
    </ion-button>
  </ion-col>
  <ion-col size-xs="1" size-md="1" size-xl="2" style="border:dotted;">
    <ion-button fill="clear" routerLink="tabs/deposit" routerDirection="root">
      Deposit
    </ion-button>
  </ion-col>
  <ion-col size-xs="1" size-md="1" size-xl="2" style="border:dotted;">
    <ion-button fill="clear" routerLink="tabs/more" routerDirection="forward">
      More...
    </ion-button>
  </ion-col>
  <ion-col size-xs="4" size-md="9" size-xl="3" style="xborder:dashed;">
    <menu-icons-container></menu-icons-container>
  </ion-col>
</ion-row>