<ion-tabs class="xmobile-menu">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfer">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deposit">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Deposit a check</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
