
@media(min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ion-tab-bar {
    background-color: red;
 }
}

@media(max-width: 768px) {
  .mobile-menu {
    display: block;
  }

   .ion-tab-bar {
      background-color: blue;
   }

  .ion-tabs {
    display: none;
    background: blue;
  }
}