<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header title="More"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="full-hw">
    <ion-row class="full-hw">
      <ion-col size-xs="12" size-md="6" size-xl="6">
        <ion-content class="left">
          <app-greeting name="Dan"></app-greeting> 
        </ion-content>
      </ion-col>
      <ion-col size-xs="12" size-md="6" size-xl="6">
        <ion-content class="right">
          <ion-card style="margin-top: 10px">
            <ion-card-header>
              <ion-card-title class="large-font ion-text-center">
                <b>More...</b>
              </ion-card-title>
              <ion-card-subtitle class="large-font ion-text-center" style="margin-left: 10px;">
                <b>AgentIQ Digital Banking</b>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col style="margin-top: 50px;" class="med-font" size="12">
                        <ion-chip color="primary">
                        <ion-icon name="build-outline"></ion-icon>
                        <ion-label>ADB</ion-label>
                        </ion-chip>
                      <ion-label class="med-font">This is the AgentIQ Digital Banking, or <b>ADB</b>, application.</ion-label>
                      <br/><br/>
                      <ion-label class="med-font">It will be used as a tool to prototype the UX and prove out the copmponent/launch code needed to embed of our authenticated chat service inside an Ionic Angular web/mobile bankng application.</ion-label>
                    <!-- </ion-item-divider> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>