.med-font {
  font-size: 20px;
}

.small-font {
  font-size: 18px;
}

.large-font {
  font-size: 26px;
}

.xlarge-font {
  font-size: 48px;
}

.full-hw {
  width: 100%;
  height: 100%;
  --ion-grid-padding: 0;
  --ion-grid-column-padding: 0;
}

.left {
  left: 0;
  --ion-background-color: var(--ion-color-primary);
  --ion-text-color: #FFF;
  color: #FFF;
  // border: dotted;
}

.right {
  right: 0;
  --ion-background-color: var(--ion-color-primary-contrast);
  --ion-text-color: #000;
  // border: dotted;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.aiq-chat-body {
  position: fixed;
  max-width: 350px;
  background: white;
  right: 20px;
  max-height: 566px; 
  min-height: 200px; 
  height: calc(100% - 100px); 
  width: 100%; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-box-shadow: 0px 4px 40px rgba(0,0,0,.16)!important;
  -moz-box-shadow: 0px 4px 40px rgba(0,0,0,.16)!important;
  box-shadow: 0px 4px 40px rgba(0,0,0,.16)!important;
  opacity: 0;
  bottom: -500px;
  transform: scale(0);
} 

.aiq-chat-body.aiq-chat-opened {
  bottom: 98px; 
  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
  opacity: 1;
  -webkit-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  -moz-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  -o-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
} 

.aiq-chat-body.aiq-chat-closed {
  bottom: -500px; 
  -webkit-transform: scale(0); 
  -moz-transform: scale(0); 
  -ms-transform: scale(0); 
  -o-transform: scale(0); 
  transform: scale(0); 
  opacity: 0;
  -webkit-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  -moz-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  -o-transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
  transition: top 0.75s, bottom 0.75s, transform 0.75s, opacity 1s;
} 

.aiq-chat-body iframe {
  width: 100%; 
  height: 100%; 
  border: none; 
  border-radius: 4px;
}

.aiq-chat-header {
  display: none!important;
}


